[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "OIDv6_ToolKit_Download_Open_Images_Support_Yolo_Format"]
	path = OIDv6_ToolKit_Download_Open_Images_Support_Yolo_Format
	url = https://github.com/NanoCode012/OIDv6_ToolKit_Download_Open_Images_Support_Yolo_Format.git
